
*{
    margin: 0;
    padding: 0;
}
.img-edited{
    width: 450px;
    height: 450px;
    border: 5px solid black;
}

.col-sm{
    text-align: center;
    background-color: rgb(81, 120, 144);
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    margin-right: 20px;
}

.text-under-image{
    width: auto;
    font-size: 20px;
    background-color: none;
    font-weight: bold;
    margin: inherit;
}

.top-timer{
    float: right;
    display: block;
}

.footer{
    background-color: rgb(81, 120, 144);
    height: 100%;
}

.header{
    background-color: rgb(81, 120, 144);
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}